<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c2b765">  <td>22/01/16 01:40:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Functions.closeDriver()[pri:0, instance:com.odoo.aspire.Functions@4d339552]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="c2b765">  <td>22/01/16 01:40:36</td>   <td>-62</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Functions.driverInitialization()[pri:0, instance:com.odoo.aspire.Functions@4d339552]">&gt;&gt;driverInitialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1043351526</td>   <td></td> </tr>
</table>
