<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70a3d8">  <td>22/01/16 19:40:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppTest.closeDriver()[pri:0, instance:com.odoo.aspire.AppTest@345965f2]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1627857534</td>   <td></td> </tr>
<tr bgcolor="70a3d8">  <td>22/01/16 19:40:35</td>   <td>-10889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.statusVaildation()[pri:4, instance:com.odoo.aspire.AppTest@345965f2]">statusVaildation</td> 
  <td>main@1627857534</td>   <td></td> </tr>
<tr bgcolor="70a3d8">  <td>22/01/16 19:39:25</td>   <td>-81452</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.driverInitialization(java.lang.String)[pri:0, instance:com.odoo.aspire.AppTest@345965f2]">&gt;&gt;driverInitialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1627857534</td>   <td></td> </tr>
<tr bgcolor="70a3d8">  <td>22/01/16 19:39:29</td>   <td>-76558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.login(java.lang.String,java.lang.String)[pri:1, instance:com.odoo.aspire.AppTest@345965f2]">login</td> 
  <td>main@1627857534</td>   <td></td> </tr>
<tr bgcolor="70a3d8">  <td>22/01/16 19:39:36</td>   <td>-69505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.productCreation(java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:2, instance:com.odoo.aspire.AppTest@345965f2]">productCreation</td> 
  <td>main@1627857534</td>   <td></td> </tr>
<tr bgcolor="70a3d8">  <td>22/01/16 19:40:00</td>   <td>-45659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.orderReferenceCreation(java.lang.String,java.lang.String,java.lang.String)[pri:3, instance:com.odoo.aspire.AppTest@345965f2]">orderReferenceCreation</td> 
  <td>main@1627857534</td>   <td></td> </tr>
</table>
